<p id="notice"><%= notice %></p>

<h1>Videoos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videoos.each do |videoo| %>
      <tr>
        <td><%= videoo.title %></td>
        <td><%= videoo.description %></td>
        <td><%= link_to 'Show', videoo %></td>
        <td><%= link_to 'Edit', edit_videoo_path(videoo) %></td>
        <td><%= link_to 'Destroy', videoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Videoo', new_videoo_path %>
