<p id="notice"><%= notice %></p>

<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<p>
  <strong>Title:</strong>
  <%= @videoo.title %>
</p>




<video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
       poster='<%= url_for(@videoo.thumbnail) %>' data-setup='{}'>
  <source src='<%= url_for(@videoo.clip) %>' type='video/mp4'>
  <p class='vjs-no-js'>
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
  </p>
</video>



<p>
  <strong>Description:</strong>
  <%= @videoo.description %>
</p>

<%= link_to 'Edit', edit_videoo_path(@videoo) %> |
<%= link_to 'Back', videoos_path %>
<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
